*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#EAEDED;
}

.main-container{
    max-width: 1473px;
    margin: 0 auto;
}

.nav-location-search-language-signin-cart{
    background-color: #131921;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo{
    width: 88px;
    height: 65px;
    margin:5px 5px 10px;
    border: 1px solid #131921;
    border-radius: 2px;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
}
    

.logo:hover{
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.nav-location-search-language-signin-cart p{
    color: azure;
    font-size: 13px;
    margin: 6px 10px 6px 3px;
}

.nav-location-search-language-signin-cart span{
    font-size: 15px;
    font-weight:bolder;
}

.nav-categories{
    padding: 2px;
    margin: 3px;
    border: 1px solid #131921;
    border-radius: 2px;
    line-height: 1;
    
    flex-grow: 0;
    flex-shrink: 0;
}

.nav-categories:hover{
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.search-box{
    max-width: 50%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    
}
.search-box select{
    display: inline-block;
    border-radius: 5px 0 0 5px ;
    border: none;
    font-size: 15px;
    width: 50px;
}

.input-search{
    display: inline-block;
    width: 100%;
    height: 35px;
    border: none;
    
}

.search-box button{
    display: inline-block;
    background-color: #F3A847;
    width: 50px;
    border-radius: 0 5px 5px 0;
    border: none;
}

.lang{   
    width: 30px; 
    margin: 10px;
    flex-grow: 0;
    flex-shrink: 0;  
}

.lang img{
    width: 100%;
}

.nav-main{
    background-color: #232F3E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-main ul{
    margin-bottom: 0rem;
    padding-left: 1rem;
    display: flex;
    justify-content: flex-start;
}

.nav-main ul li{
    list-style: none;
    color: #fff;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #232F3E;
    border-radius: 2px;
}

.nav-main ul li:hover{
    border: 1px solid #FFFFFF;
}

.nav-main p{
    color: #fff;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #232F3E;
    border-radius: 2px;
}

.nav-main p:hover{
    border: 1px solid #FFFFFF;
}

.slider{
    position: relative;
    z-index: 0;
}


.category-grid{
    display: flex;
    justify-content: flex-start;
    flex-flow:row wrap;
    flex-shrink: 1;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-top: -25.5%;
}

.category-grid li{
    list-style: none;
    width: calc(25% - 20px - 20px);
    background-color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
}

.category-grid li h3{
    font-size: 20px;
}

.category-grid li h3:hover{
    cursor: pointer;
}

.category-grid li img{
    display: block;
    width: calc(100% - 4px - 4px);
    margin: 15px 2px;
    padding: 2px;
}

.category-grid li img:hover{
    cursor: pointer;
}

.category-grid li:nth-child(4){
    background-color: rgba(255,255,255,0);
    padding: 0;
}

.category-grid li:nth-child(4)  img{
    width: 80%;
    margin: 30px auto 0;
}

.category-grid li:nth-child(4) h3{
    margin-left: 13px;
}

.category-grid li h5{
    font-size: 15px;
    margin: auto 0 0;
}

.category-grid li h5:hover{
    color: brown;
    text-decoration: underline;
    cursor: pointer;
}

.category-grid li .wight-box{
    width: 100%;
    background-color: #fff;
    padding: 14px 0 14px;
    margin: 0;
}
.category-grid li .wight-box h3{
    padding-bottom: 20px;
}

.category-grid li .wight-box a{
    padding:5px 10px;
    margin: 5px auto;
    width: 70%;
    text-align: center;
    color: rgb(16, 16, 19);
    text-decoration: none;
    background-color: orange;
    border: .5px solid #131921;
    border-radius: 3px;
    display: block;
}

.back-to-up{
    background-color: #485769;
    text-align: center;
    height: 60px;
}

.back-to-up a{
    font-size: 15px;
    color: cornsilk;
    text-decoration: none;
    padding: 20px;
    display: block;
}
.back-to-up:hover{
    background-color: #798594;

}

.footer-container{
    max-width: 1000px;
    margin: 0 auto;
}

.footer-1{
    background-color: #232F3E;
    border-bottom: .1px dotted #EAEDED;
    margin: 0 auto;
}

.fo1{
    display: flex;
    justify-content: space-around;
    flex-flow:row wrap;
    padding: 50px 20px 20px;
}

.fo1 li{
    list-style: none;
    color: #CADDD1;
    padding: 3px;
}

.fo1 li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.fo1 li:first-child{
    font-size: 17px;
    font-weight: bolder;
    color: #FFFFFF;
}

.footer-2{
    background-color: #232F3E;
}

.fo2{
    display: flex;
    justify-content: center;
    flex-flow:row wrap;
    padding: 16px 20px 20px;
}

.fo2 img{
    width: 120px;
    padding: 10px;
    margin: 10px;
}

.fo2 img:hover{
    cursor: pointer;
}

.fo2 a{
    color:#CADDD1;
    text-decoration: none;
    padding: 12px;
    margin: 30px 7px;
    border: 1px dotted #CADDD1;
    border-radius: 2px;
}


.footer-3{
    background-color: #131A22;
    
}

.fo3{
    display: flex;
    justify-content: space-around;
    flex-flow:row nowrap;
    padding: 15px;
}

.fo3 li{
    list-style: none;
    color: #CADDD1;
    height: 105px;
    font-size: 11px;
    padding: 25px 15px;
    line-height: 13px;
}

.fo3 li:hover{
    text-decoration: underline;
    cursor: pointer;
}

.fo3 li span{
    font-weight: bolder;
    color: #FFFFFF;
}

.finally {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.finally .link{
    font-weight: bold;
    font-size: 15px;
    color: #CADDD1;
    padding: 4px;
    margin: 5px;
}

.finally .CR{
    color: #CADDD1;
    padding: 4px;
    margin: 5px;
}

@media screen and (max-width: 1024px) and (min-width: 601px){
   
    .category-grid li{
        width: calc(33.2% - 20px - 20px);
        margin: 10px;
        padding: 10px;
    }

    .category-grid li .wight-box a{
        padding: 7px 7%;
        margin: 0 7%;
    }

    .fo1 ul{
        width: 45%;
        
    }

    .fo3{
        justify-content: space-between;
        flex-flow:row wrap;
        padding: 15px;
    }

    .fo3 ul {
        width: 23%;
    }
    
    @media screen and (max-width: 650px) and (min-width: 601px){
        .lang{
             display: none;
        }
    }
 
}
    
@media screen and (max-width: 600px){

    .nav-location-search-language-signin-cart, .nav-main, .nav-main ul{
        flex-flow: row wrap;
    }

    .category-grid{
        display: flex;
        justify-content: flex-start;
        flex-flow:column nowrap;
        overflow: hidden;
    }

    .category-grid li{
        width: calc(100% - 20px - 20px);
        margin: 10px;
        padding: 10px;
    }

    .category-grid li .wight-box a{
        padding: 7px 12%;
        margin: 0 12%;
    }
    
    .fo1{
        display: flex;
        justify-content: space-around;
        flex-flow:row wrap;
        padding: 50px 20px 20px;
    }

    .fo2{
        display: flex;
        justify-content: center;
        flex-flow:row wrap;
        padding: 16px 20px 20px;
    }

    .fo3{
        display: none;
    }

    .Conditions-Privacy-copy-right {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column nowrap;
    }
}